@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(0deg, #16469e, #1f4ea3 80%) no-repeat;
  height: 100vh;
  overflow: hidden;
}

.bubble {
  position: fixed;
  width: 100%;
  bottom: -10rem;
}

.creditionals {
  position: absolute;
  bottom: 0;
  width: -webkit-fill-available;
  padding: 1.25rem;
  font-size: 0.7rem;
}

.creditionals a {
  font-weight: bold;
  color: #1f4ea3;
}

.weather-temp {
  font-size: 30px;
}

.temp-num {
  font-size: 70px;
}

.temp-switcher .weather-temp {
  opacity: 0.5
}

.temp-switcher .weather-temp.active {
  opacity: 1
}

.weather-temperatures {
  width: 400px;
  min-width: 400px;
}

.weather-status {
  width: 1250px;
  margin: auto;
  margin-top: 30px;
}

.weather-temp p {
  display: none;
}

.weather-temp p.active {
  display: inherit;
}

.path-0{
  animation:pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
  0%{
    d: path("M 0,400 C 0,400 0,100 0,100 C 77.9003778770182,81.54723462727586 155.8007557540364,63.0944692545517 217,76 C 278.1992442459636,88.9055307454483 322.6973548608725,133.16935760906904 393,131 C 463.3026451391275,128.83064239093096 559.4098248024734,80.2281003091721 634,74 C 708.5901751975266,67.7718996908279 761.663345929234,103.91824115424252 824,110 C 886.336654070766,116.08175884575748 957.936791480591,92.09893507385777 1025,80 C 1092.063208519409,67.90106492614223 1154.5894881484026,67.68601855032635 1223,73 C 1291.4105118515974,78.31398144967365 1365.7052559257986,89.15699072483682 1440,100 C 1440,100 1440,400 1440,400 Z");
  }
  25%{
    d: path("M 0,400 C 0,400 0,100 0,100 C 73.27585022329097,86.64857437306767 146.55170044658195,73.29714874613535 220,80 C 293.44829955341805,86.70285125386465 367.0690484369632,113.45997938852629 435,114 C 502.9309515630368,114.54002061147371 565.1721058055651,88.86293369975954 636,86 C 706.8278941944349,83.13706630024046 786.2425283407764,103.08828581243559 846,105 C 905.7574716592236,106.91171418756441 945.8577808313294,90.78392305049812 1014,89 C 1082.1422191686706,87.21607694950188 1178.326348333906,99.77602198557197 1254,104 C 1329.673651666094,108.22397801442803 1384.836825833047,104.11198900721402 1440,100 C 1440,100 1440,400 1440,400 Z");
  }
  50%{
    d: path("M 0,400 C 0,400 0,100 0,100 C 62.838886980419105,107.7883888698042 125.67777396083821,115.57677773960839 184,123 C 242.3222260391618,130.4232222603916 296.1277911370663,137.48127791137065 380,126 C 463.8722088629337,114.51872208862935 577.8110614908966,84.49811061490898 647,75 C 716.1889385091034,65.50188938509102 740.6279628993474,76.52627962899346 801,82 C 861.3720371006526,87.47372037100654 957.6770869117142,87.39677086911715 1042,81 C 1126.3229130882858,74.60322913088285 1198.663689453796,61.88663689453796 1263,64 C 1327.336310546204,66.11336310546204 1383.668155273102,83.05668155273102 1440,100 C 1440,100 1440,400 1440,400 Z");
  }
  75%{
    d: path("M 0,400 C 0,400 0,100 0,100 C 62.80934386808657,109.53967708691172 125.61868773617314,119.07935417382343 185,109 C 244.38131226382686,98.92064582617657 300.334592923394,69.222260391618 375,66 C 449.665407076606,62.77773960838201 543.0429405702507,86.03160425970457 622,99 C 700.9570594297493,111.96839574029543 765.493644795603,114.65132256956372 825,112 C 884.506355204397,109.34867743043628 938.9824802473379,101.36310546204054 1008,92 C 1077.017519752662,82.63689453795946 1160.5764342150462,71.89625558227414 1235,73 C 1309.4235657849538,74.10374441772586 1374.711782892477,87.05187220886293 1440,100 C 1440,100 1440,400 1440,400 Z");
  }
  100%{
    d: path("M 0,400 C 0,400 0,100 0,100 C 77.9003778770182,81.54723462727586 155.8007557540364,63.0944692545517 217,76 C 278.1992442459636,88.9055307454483 322.6973548608725,133.16935760906904 393,131 C 463.3026451391275,128.83064239093096 559.4098248024734,80.2281003091721 634,74 C 708.5901751975266,67.7718996908279 761.663345929234,103.91824115424252 824,110 C 886.336654070766,116.08175884575748 957.936791480591,92.09893507385777 1025,80 C 1092.063208519409,67.90106492614223 1154.5894881484026,67.68601855032635 1223,73 C 1291.4105118515974,78.31398144967365 1365.7052559257986,89.15699072483682 1440,100 C 1440,100 1440,400 1440,400 Z");
  }
}

.path-1{
  animation:pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1{
  0%{
    d: path("M 0,400 C 0,400 0,200 0,200 C 84.76949501889385,219.88114050154587 169.5389900377877,239.76228100309172 243,229 C 316.4610099622123,218.23771899690828 378.6135348677431,176.83201648917898 443,162 C 507.3864651322569,147.16798351082102 574.0068704912402,158.90965304019238 632,176 C 689.9931295087598,193.09034695980762 739.3589831672963,215.52937135005152 803,215 C 866.6410168327037,214.47062864994848 944.5571968395741,190.9728615596015 1027,185 C 1109.442803160426,179.0271384403985 1196.4122294744072,190.57918241154243 1266,196 C 1335.5877705255928,201.42081758845757 1387.7938852627963,200.71040879422878 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  25%{
    d: path("M 0,400 C 0,400 0,200 0,200 C 86.72483682583302,222.47062864994848 173.44967365166605,244.94125729989693 232,232 C 290.55032634833395,219.05874270010307 320.9261422191688,170.70559945036072 386,174 C 451.0738577808312,177.29440054963928 550.8457574716591,232.2363448986602 622,237 C 693.1542425283409,241.7636551013398 735.6908278941944,196.34902095499828 796,177 C 856.3091721058056,157.65097904500172 934.3909309515632,164.36757128134664 1003,171 C 1071.6090690484368,177.63242871865336 1130.7454482995533,184.18069391961524 1202,189 C 1273.2545517004467,193.81930608038476 1356.6272758502232,196.90965304019238 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  50%{
    d: path("M 0,400 C 0,400 0,200 0,200 C 73.04912401236689,182.97423565784953 146.09824802473378,165.9484713156991 206,174 C 265.9017519752662,182.0515286843009 312.65613191343175,215.18035039505327 389,221 C 465.34386808656825,226.81964960494673 571.2772243215389,205.33012710408792 645,195 C 718.7227756784611,184.66987289591208 760.2349708004124,185.49914118859502 825,198 C 889.7650291995876,210.50085881140498 977.7828924768119,234.6733081415321 1057,231 C 1136.2171075231881,227.3266918584679 1206.6334592923397,195.80762624527654 1269,186 C 1331.3665407076603,176.19237375472346 1385.6832703538303,188.09618687736173 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  75%{
    d: path("M 0,400 C 0,400 0,200 0,200 C 58.46925455170046,212.06526966678118 116.93850910340092,224.13053933356235 176,219 C 235.06149089659908,213.86946066643765 294.7152181380969,191.54311233253176 380,182 C 465.2847818619031,172.45688766746824 576.2006183442116,175.69701133631057 642,184 C 707.7993816557884,192.30298866368943 728.4823084850566,205.66884232222603 796,202 C 863.5176915149434,198.33115767777397 977.8701477155616,177.6276193747853 1062,173 C 1146.1298522844384,168.3723806252147 1200.0371006526966,179.82068017863278 1258,187 C 1315.9628993473034,194.17931982136722 1377.9814496736517,197.08965991068362 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
  100%{
    d: path("M 0,400 C 0,400 0,200 0,200 C 84.76949501889385,219.88114050154587 169.5389900377877,239.76228100309172 243,229 C 316.4610099622123,218.23771899690828 378.6135348677431,176.83201648917898 443,162 C 507.3864651322569,147.16798351082102 574.0068704912402,158.90965304019238 632,176 C 689.9931295087598,193.09034695980762 739.3589831672963,215.52937135005152 803,215 C 866.6410168327037,214.47062864994848 944.5571968395741,190.9728615596015 1027,185 C 1109.442803160426,179.0271384403985 1196.4122294744072,190.57918241154243 1266,196 C 1335.5877705255928,201.42081758845757 1387.7938852627963,200.71040879422878 1440,200 C 1440,200 1440,400 1440,400 Z");
  }
}

.path-2{
  animation:pathAnim-2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2{
  0%{
    d: path("M 0,400 C 0,400 0,300 0,300 C 54.1442803160426,306.10717966334596 108.2885606320852,312.21435932669186 171,306 C 233.7114393679148,299.78564067330814 304.99003778770174,281.24974235657845 375,271 C 445.00996221229826,260.75025764342155 513.7512882171076,258.7866712469942 587,274 C 660.2487117828924,289.2133287530058 738.0048093438681,321.60357265544485 807,327 C 875.9951906561319,332.39642734455515 936.2294744074202,310.7990381312264 1008,295 C 1079.7705255925798,279.2009618687736 1163.0772930264513,269.20027481964956 1237,271 C 1310.9227069735487,272.79972518035044 1375.4613534867744,286.3998625901752 1440,300 C 1440,300 1440,400 1440,400 Z");
  }
  25%{
    d: path("M 0,400 C 0,400 0,300 0,300 C 80.8114050154586,301.65166609412574 161.6228100309172,303.30333218825143 218,307 C 274.3771899690828,310.69666781174857 306.3201648917897,316.4383373411199 375,314 C 443.6798351082103,311.5616626588801 549.0965304019237,300.943318447269 632,299 C 714.9034695980763,297.056681552731 775.2937135005153,303.7883888698041 845,310 C 914.7062864994847,316.2116111301959 993.7286155960151,321.9031260735143 1051,315 C 1108.271384403985,308.0968739264857 1143.7918241154243,288.5991068361388 1205,284 C 1266.2081758845757,279.4008931638612 1353.1040879422878,289.7004465819306 1440,300 C 1440,300 1440,400 1440,400 Z");
  }
  50%{
    d: path("M 0,400 C 0,400 0,300 0,300 C 65.22638268636209,303.35898316729646 130.45276537272417,306.7179663345929 196,302 C 261.5472346272758,297.2820336654071 327.4153211954654,284.48711782892474 390,275 C 452.5846788045346,265.51288217107526 511.8859498454141,259.33356234970796 582,265 C 652.1140501545859,270.66643765029204 733.0408794228786,288.1786327722433 815,300 C 896.9591205771214,311.8213672277567 979.9505324630713,317.9519065613191 1057,318 C 1134.0494675369287,318.0480934386809 1205.1569907248368,312.0137409824803 1268,308 C 1330.8430092751632,303.9862590175197 1385.4215046375816,301.99312950875986 1440,300 C 1440,300 1440,400 1440,400 Z");
  }
  75%{
    d: path("M 0,400 C 0,400 0,300 0,300 C 47.310202679491596,289.001030573686 94.62040535898319,278.00206114737205 170,274 C 245.3795946410168,269.99793885262795 348.82858124355886,272.9927859841979 429,287 C 509.17141875644114,301.0072140158021 566.0652696667812,326.0267949158365 628,330 C 689.9347303332188,333.9732050841635 756.9103400893164,316.9000343524562 834,316 C 911.0896599106836,315.0999656475438 998.2933699759533,330.37306767433876 1056,337 C 1113.7066300240467,343.62693232566124 1141.9161800068705,341.60769495018894 1201,334 C 1260.0838199931295,326.39230504981106 1350.0419099965648,313.19615252490553 1440,300 C 1440,300 1440,400 1440,400 Z");
  }
  100%{
    d: path("M 0,400 C 0,400 0,300 0,300 C 54.1442803160426,306.10717966334596 108.2885606320852,312.21435932669186 171,306 C 233.7114393679148,299.78564067330814 304.99003778770174,281.24974235657845 375,271 C 445.00996221229826,260.75025764342155 513.7512882171076,258.7866712469942 587,274 C 660.2487117828924,289.2133287530058 738.0048093438681,321.60357265544485 807,327 C 875.9951906561319,332.39642734455515 936.2294744074202,310.7990381312264 1008,295 C 1079.7705255925798,279.2009618687736 1163.0772930264513,269.20027481964956 1237,271 C 1310.9227069735487,272.79972518035044 1375.4613534867744,286.3998625901752 1440,300 C 1440,300 1440,400 1440,400 Z");
  }
}